# Environment variables - NEVER commit this
.env

# Node
frontend/node_modules/
frontend/.env

# Python
backend/__pycache__/
backend/*.pyc
backend/venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
